@import "normalize.css";
* {
  box-sizing: border-box;
}
body {
  background-color: #282a35;
  font-family: 'Nunito', sans-serif;
  font-size: 1.1em;
  color: white;
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Links */
a {
  color: white;
}
/* Titles */
h1 {
  font-weight: normal;
  font-size: 50px;
}
h2 {
  text-align: center;
  margin-block-start: 2em;
  margin-block-end: 1.5em;
}
header,
main,
footer {
  width: 1024px;
}
/* Header */
header {
  margin-bottom: 50px;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  font-weight: bold;
}
header nav ul li a:hover {
  text-decoration: underline;
}
/* Main content */
main .presentation {
  display: flex;
  justify-content: space-evenly;
  text-align: right;
}
main .presentation img {
  max-width: 200px;
}
main .technical-stack > .logos .logos-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .technical-stack > .logos img {
  width: 150px;
  padding: 25px;
}
main .projects {
  font-size: 0.9em;
}
main .projects > .logos .logos-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .projects > .logos .logos-row .logo {
  background-color: white;
  color: #282a35;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  max-width: 350px;
  height: 450px;
}
main .projects > .logos .logos-row .logo .logo-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
main .projects > .logos .logos-row .logo h3 {
  text-align: center;
}
main .projects > .logos .logos-row .logo img {
  max-width: 320px;
  max-height: 150px;
  padding: 25px;
}
main .projects > .logos .logos-row .logo a {
  color: #282a35;
}
main .projects > .logos .logos-row .logo .links {
  display: flex;
  justify-content: space-around;
}
/* Footer */
footer {
  text-align: center;
  margin-bottom: 25px;
}
footer .logos {
  display: flex;
  justify-content: center;
}
footer .logos img {
  max-width: 100px;
  max-height: 100px;
  padding: 25px;
}
