@import (css) "normalize.css";
@import "utils.less";

* {
  box-sizing: border-box;
}

body {
  background-color: #282a35;

  font-family: "Nunito", sans-serif;
  font-size: 0.9em;
  color: white;
  line-height: 1.4em;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 360px) {
    font-size: 1.1em;
  }
}

/* Titles */

h1 {
  font-weight: normal;
  color: salmon;
}

h2 {
  text-align: center;
  margin-block-start: 2em;
  margin-block-end: 1.5em;
}

/* Links */

a {
  color: white;
}

/* Misc */

strong {
  color: salmon;
  font-weight: normal;
}

main {
  width: 100%;
  margin-top: 100px;
  padding: 15px;

  @media (min-width: 1024px) {
    max-width: 1024px;
  }
}

/* Header */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-top: 3px solid #282a35;

  nav {
    ul {
      display: flex;
      justify-content: space-evenly;
      padding: 0;

      li {
        list-style: none;
        white-space: nowrap;

        a {
          color: #282a35;
          text-decoration: none;
          font-weight: bold;
          padding-bottom: 3px;

          &:hover {
            text-decoration: underline salmon;
          }
        }
      }
    }
  }
}

/* Main content */

main {
  .presentation {
    display: flex;
    justify-content: space-evenly;
    text-align: right;

    .photo {
      img {
        margin: 0 15px;
        max-width: 150px;

        @media (min-width: 360px) {
          max-width: 200px;
        }
      }
    }

    .social-medias {
      margin-top: 35px;

      .logos {
        display: flex;
        justify-content: flex-end;

        img {
          max-width: 50px;
          margin-left: 10px;
        }
      }
    }
  }

  .skills {
    > .logos {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;

      img {
        width: 150px;
        padding: 25px;
      }
    }
  }

  .projects {
    font-size: 0.8em;

    > .logos {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;

      .logo {
        background-color: white;
        color: #282a35;

        display: flex;
        flex-direction: column;

        padding: 10px;
        margin: 10px;

        max-width: 280px;
        height: 500px;

        .logo-content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          justify-content: space-between;
        }

        h3 {
          text-align: center;
        }

        img {
          max-height: 150px;
        }

        a {
          color: #282a35;
        }

        .links {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
}
