@import (css) "normalize.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #282a35;

  font-family: 'Nunito', sans-serif;
  font-size: 1.1em;
  color: white;
  line-height: 1.4em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Links */

a {
  color: white;
}

/* Titles */

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  text-align: center;
  margin-block-start: 2em;
  margin-block-end: 1.5em;
}

header, main, footer {
  width: 1024px;
}

/* Header */

header {
  margin-bottom: 50px;

  nav {
    ul {
      display: flex;
      justify-content: space-evenly;

      li {
        list-style: none;

        a {
          text-decoration: none;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* Main content */

main {
  .presentation {
    display: flex;
    justify-content: space-evenly;
    text-align: right;

    img {
      max-width: 200px;
    }
  }

  .technical-stack {
    > .logos {
      .logos-row {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 150px;
        padding: 25px;
      }
    }
  }

  .projects {
    font-size: 0.9em;

    > .logos {
      .logos-row {
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
          background-color: white;
          color: #282a35;

          display: flex;
          flex-direction: column;

          padding: 10px;
          margin: 10px;

          max-width: 350px;
          height: 450px;

          .logo-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-between;
          }

          h3 {
            text-align: center;
          }

          img {
            max-width: 320px;
            max-height: 150px;
            padding: 25px;
          }

          a {
            color: #282a35;
          }

          .links {
            display: flex;
            justify-content: space-around;
          }
        }
      }
    }
  }
}

/* Footer */

footer {
  text-align: center;
  margin-bottom: 25px;

  .logos {
    display: flex;
    justify-content: center;

    img {
      max-width: 100px;
      max-height: 100px;
      padding: 25px;
    }
  }
}
